<h1>Update a student</h1>
<br><br>

<%= form_with url:update_path(@student) , model: @student, local: true do |form| %>
  
  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    
  </div>

  <div class="field">
    <%= form.label :roll_number %><br>
    <%= form.text_field :roll %>
    
  </div>

  
<div class="field">
    <%= form.label :CGPA %><br>
    <%= form.text_field :cgpa %>
  </div>

   <div class="field">
    <%= form.label :Section %><br>
    <%= form.text_field :section %>
  </div>


  <div class="actions">
    <%= form.submit "Press to Update" %>
  </div>

<% end %>